.chat-messege.chatgpt{
  background-color: #444654;
}

.chat-messege-center{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  padding: 12px;

  padding-left: 24px;
  padding-right:  24px;
}

.messege{
  padding-left: 40px;
  padding-right: 40px;
}